{% load backstage %}

<html>
    <head>
        <title>{% block title %}Piano-Man{% endblock %}</title>
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/nav.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/base.css" media="screen" />
        <!--[if IE 6]>
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/ie6.css" media="screen" />
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/ie.css" media="screen" />
        <![endif]-->
    </head>
    <body>
        <div class="container_16">
            <div class="grid_16">
                <h1 id="branding">
                    <a href="{% url project_list %}">Piano Man</a>{% if project %} : <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>{% endif %}
                </h1>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                <ul class="nav main">
                    {% if project %}
                        {% nav_bar_urls project 0 %}
                    {% endif %}
                    {% get_other_projects project as projects %}
                    {% for p in projects %}
                        <li class="secondary">
                            <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                            <ul>
                                {% nav_bar_urls p 1 %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                <h2 id="page-heading">{% block page_title %}{% endblock %}</h2>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
            {% block extra-content %}{% endblock %}
			<div class="grid_16" id="site_info">
				<div class="box">
					<p>footer info for Piano-Man will go here...reference credits etc...</p>
				</div>
			</div>
			<div class="clear"></div>
        </div>
		<script type="text/javascript" src="{{ MEDIA_URL }}media/js/mootools-1.2.1-core.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}media/js/mootools-1.2-more.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}media/js/mootools-fluid16-autoselect.js"></script>
    </body>
</html>
