<li>
    <a href="{% url timeline projectslug=project.slug %}">Timeline</a>
</li>
<li>
    <a href="{% url ticket_list projectslug=project.slug %}">Tickets</a>
    {% if not nested %}
        <ul>
            <li>
                <a href="{% url ticket_option_charts projectslug=project.slug %}">Ticket Charts</a>
            </li>
            <li>
                <a href="{% url ticket_reports projectslug=project.slug %}">Ticket Reports</a>
            </li>
        </ul>
    {% endif %}
</li>
<li>
    <a href="{% url new_ticket projectslug=project.slug %}">New Ticket</a>
</li>
<li>
    <a href="{% url code_browser projectslug=project.slug path='' %}">Code Browser</a>
</li>
<li>
    <a href="{% url wiki_page projectslug=project.slug path='' %}">Wiki</a>
</li>